body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex; /* 追加 */
  height: 100vh;
}

.main-content {
  flex: 2; /* 画面の左側2/3を占める */
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.item-grid {
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr); /* 追加 */
  gap: 10px;
  overflow: hidden;
}

.item-row {
  display: flex;
  gap: 10px;
  animation: scroll-items 30s linear infinite;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  height: 150px;
  width: calc(100% / 3.5);
  flex-shrink: 0;
}

@keyframes scroll-items {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.item-name {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.sidebar {
  width: 300px;
  background-color: #ffffff;
  border-left: 1px solid #e0e0e0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

#chat-form {
  display: flex;
  padding: 20px;
  border-top: 1px solid #ccc;
}

#chat-input {
  flex: 1;
  padding: 10px;
}
