<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>チャット求人検索</title>
  </head>
  <body>
    <div class="main-content">
      <div class="item-grid">
        {% for row in job_rows %} {% if loop.index0 % 2 == 0 %}
        <div class="item-row animate-up">
          {% else %}
          <div class="item-row animate-down">
          {% endif %} {% for job in row %}
          <a href="/jobs/{{ job.id }}">
            <div class="item">
              <p class="item-job-type">#{{ job.job_type }}</p>
              <h3 class="item-job-title">{{ job.title }}</h3>
              <p class="item-job-monthly-salary">
                月給：{{ job.monthly_salary }}円
              </p>
              <p class="item-job-location">勤務地：{{ job.location }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="sidebar">
      <div class="chat">
        <div class="chat-messages" id="chat-messages">
          <!-- チャットメッセージがここに表示されます -->
        </div>
        <form id="chat-form">
          <input type="text" id="chat-input" />
          <button type="submit">送信</button>
        </form>
      </div>
    </div>
    <script type="module" src="/static/js/main.js"></script>
  </body>
</html>
